In [1]:
Ho = μ = 7.01
Ho < μ = 7.01

SyntaxError: cannot assign to comparison (3910722317.py, line 2)

In [ ]:
1.answer

In [2]:
import pandas as pd
import numpy as np
import statistics as st
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('cutlets.csv')

In [7]:
df

    Unit A  unit B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875

In [4]:
df.mean()

Unit A    7.019091
unit B    6.964297
dtype: float64

In [5]:
df.std()

Unit A    0.288408
unit B    0.343401
dtype: float64

In [11]:
from scipy import stats
stats.norm.ppf(0.05,0,1)

-1.6448536269514729

In [ ]:
z value = -1.229

its fails to reject..

In [37]:
2. answer

1

In [33]:
df = pd.read_csv('labTat_csv')

In [34]:
df

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [35]:
df.mean()

Laboratory 1    178.360833
Laboratory 2    178.902917
Laboratory 3    199.913250
Laboratory 4    163.682750
dtype: float64

In [36]:
df.std()

Laboratory 1    13.172986
Laboratory 2    14.957114
Laboratory 3    16.539033
Laboratory 4    15.085080
dtype: float64

In [ ]:
t value will be 80.11

In [48]:
from scipy import stats
stats.t.cdf(80.11,119)

1.0

In [49]:
stats.t.ppf(0.05,119)

-1.6577592849346416

In [ ]:
its fails to reject

In [ ]:
3.answer

In [3]:
df = pd.DataFrame({
    'East': (50,435),
     'west' :(142,1523),
    'north':(131,1356),
    'south':(70,750)
})

In [4]:
df

   East  west  north  south
0    50   142    131     70
1   435  1523   1356    750

In [5]:
df.mean()

East     242.5
west     832.5
north    743.5
south    410.0
dtype: float64

In [6]:
df.std()

East     272.236111
west     976.514465
north    866.205807
south    480.832611
dtype: float64

In [7]:
import numpy as np
from scipy.stats import chi2_contingency

observed_values = np.array([[50, 142, 131, 70],
                            [435, 1523, 1356, 750]])

chi2, p, _, _ = chi2_contingency(observed_values)
print(f"Chi-square statistic: {chi2}")
print(f"P-value: {p}")
alpha = 0.05
if p <= alpha:
    print("Reject the null hypothesis: There is a significant difference in male-female buyer ratios across regions.")
else:
    print("Fail to reject the null hypothesis: The male-female buyer ratios are similar across regions.")

Chi-square statistic: 1.595945538661058
P-value: 0.6603094907091882
Fail to reject the null hypothesis: The male-female buyer ratios are similar across regions.

3